body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: #222;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  padding: 30px;
  background: white;
  margin: 20px;
  border-radius: 8px;
}

h2 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #e3e3e3;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.project {
  margin-bottom: 15px;
  }
